@import "tailwindcss";

@layer utilities {
  .animate-modal-pop {
    animation: modalPop 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
  .animate-modal-close {
    animation: modalClose 0.4s cubic-bezier(0.36, 0, 0.66, -0.56) forwards;
  }
}

@keyframes modalPop {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(40px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) translateY(40px);
  }
}
